# Date:19 Sep 2019
# Strings
### Concepts
* Introduction about strings
* String indexing
    - Positive
    - Negative
* String Slicing
    - Slicing Strings With Stride
* functions on strings
    - len
    - min
    - max
* string methods
* string example programs
## Tasks
* Take a string “Problem Solving Using Python”
* Find the length of the string
* Change the string to lowercase
* Print the string in reverse order
* Split the string
* Print the string without spaces
* Find how many times “s” is repeated in a given string
* Take a string “python programming by python platforms”
* Find how many times “python” is repeated

In [2]:
name = "anusha"
print(type(name))

<class 'str'>

In [3]:
print(type(" "))

<class 'str'>

In [4]:
type("&")," "

(str, ' ')

## Indexing
* Positive Indexing
    
    'anusha'
    
    '012345'
    
* Negative Indexing
    
    'a n u s h a'
    
    '-6 -5 -4 -3 -2 -1'

In [27]:
name1 = input("enter any name :")
print(name[-1])
print(len(name1))

enter any name :anusha
a
6

In [20]:
print(name[len(name1)]) #IndexError: index value can't fit in the indexing

IndexError: string index out of range

In [30]:
print(name1)
print(name1[-4])
print(name[3])

anusha
u
s

## String Slicing

"string"[startvalue:endvalue]

In [31]:
name

'anusha'

In [32]:
name[:] #value before : is included and after is excluded

'anusha'

In [44]:
print("anusha"[1:5])
print("python"[-1:])
print("python"[-6:-1])

nush
n
pytho

In [46]:
'python'[1:]

'ython'

In [48]:
print('anusha'[4:len('anusha')])

ha

### Slicing Strings With Stride

slicing string with step value

[start:end:step]

In [49]:
n='python'
n[0:5:2]

'pto'

In [51]:
n='python!'
n[0:6:2]

'pto'

In [53]:
n[::]

'python!'

In [54]:
n[::-1]

'!nohtyp'

In [4]:
n = 'python!'
n[-1:-6:-2]

'!ot'

In [5]:
n1 = 'sri padmavathi'
n1[4:len(n1)]

'padmavathi'

In [6]:
n1[:3][::-1]

'irs'

In [7]:
n1[-12::-1]

'irs'

In [9]:
n1[-12:-15:-1]

'irs'

## String Concatenation

In [10]:
first_name = 'deepika'
last_name = 'settipalli'
name = first_name+" "+last_name
name

'deepika settipalli'

In [11]:
name

'deepika settipalli'

In [12]:
name[7] = '.'

TypeError: 'str' object does not support item assignment

## Functions On Strings

In [13]:
print(len('anusha'))

6

In [14]:
print(min('anusha'))

a

In [15]:
print(max('anusha'))

u

In [17]:
print(chr(97))

a

In [18]:
print(chr(65))

A

In [20]:
print(ord('g'))

103

In [21]:
print(ord('c'))

99

In [23]:
p = 'chotu'
",".join(p)

'c,h,o,t,u'

In [24]:
print(name.split())
print("anshu sushu")

['deepika', 'settipalli']
anshu sushu

In [25]:
'anshu sushu'.title()

'Anshu Sushu'

In [26]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Tasks

* Find the length of the string

In [29]:
name1 = 'anusha'
print(len(name1))

6

* Change a string to lowercase

In [30]:
str1 = 'ANUSHA'
print(str1.lower())

anusha

* Print the string in reverse order

In [38]:
str1[::-1]

'AHSUNA'

* Split the string

In [39]:
name1

'anusha'

In [40]:
name

'deepika settipalli'

In [43]:
print(name.split())

['deepika', 'settipalli']

* Print the string without spaces

In [47]:
help("".split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [48]:
help("".join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [49]:
str

str

In [52]:
str = 'problem solving and programming in python'
print(str.split())

['problem', 'solving', 'and', 'programming', 'in', 'python']

In [55]:
print("".join(str.split()))

problemsolvingandprogramminginpython

* Find how many times "s" is repeated in a given string

In [56]:
str4 = 'skjhdgsabcds'
print(str4.count('s'))

3

* Find how many words python is repeated

In [58]:
str5 = 'python programming by python platforms'
print(str5)

python programming by python platforms

In [61]:
print(str5.count("python"))

2

* Convert sTring to string

In [63]:
str6 = 'sTring'
print(str6)

sTring

In [64]:
print(str6.capitalize())

String

* Add Spaces between each letter

In [66]:
print(" ".join(str6))

s T r i n g

* convert "python" to "***python***" by using string method

In [71]:
str7 = 'python'
print(str7.center(12,'*'))

***python***

In [72]:
print(str7.center(12,"$"))

$$$python$$$