### Dictionary Comprehension

In [1]:
l1=[1,2,3,4,5,6]
l2=[ele**2 for ele in l1]
l2

[1, 4, 9, 16, 25, 36]

In [2]:
d={val:val**2 for val in l1}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [3]:
s="apple ball cat dog elephant"
d2={word[0]:word for word in s.split()}
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [4]:
d3={word[0]:word.capitalize() for word in s.split()}
d3

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [5]:
print(l1)
s2="one two three four"
s2

[1, 2, 3, 4, 5, 6]

'one two three four'

In [6]:
list(zip(l1,s2.split()))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [7]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

### Tuple Comprehensions

In [8]:
tuple(val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

* calculate the sum of first n value

In [9]:
n=int(input())
sum(tuple(e for e in range(1,n+1)))

5

15

In [2]:
n=int(input())
sum([e for e in range(1,n+1) if e%2==0])

5

6

In [13]:
st1=input()
st2=input()
{i:j for i,j in zip(st1.split(),st2.split())}

India Pakisthan Nepal Bhutan China Bangladesh
NewDelhi Islamabad Katmandu Thimpu Dhaka Beijing

{'India': 'NewDelhi',
 'Pakisthan': 'Islamabad',
 'Nepal': 'Katmandu',
 'Bhutan': 'Thimpu',
 'China': 'Dhaka',
 'Bangladesh': 'Beijing'}