### Read csv and Table from server to online

In [4]:
import pandas as pa

In [5]:
s=pa.read_csv("income_panda.csv")
s

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
s['2005']

0    37150
1    55891
2    45245
3    36658
4    51755
Name: 2005, dtype: int64

In [7]:
s['2006'][2]

46657

In [8]:
s.iloc[2,3]

46657

In [9]:
s.iloc[:,1:3]

        State   2005
0     Alabama  37150
1      Alaska  55891
2     Arizona  45245
3    Arkansas  36658
4  California  51755

In [10]:
s.iloc[0:1,2:10]

    2005   2006   2007   2008   2009   2010   2011   2012
0  37150  37952  42212  44476  39980  40933  42590  43464

In [11]:
s.iloc[:,2:]

    2005   2006   2007   2008   2009   2010   2011   2012   2013
0  37150  37952  42212  44476  39980  40933  42590  43464  41381
1  55891  56418  62993  63989  61604  57848  57431  63648  61137
2  45245  46657  62993  46914  45739  46896  48621  47044  50602
3  36658  37057  40795  39586  36538  38587  41302  39018  39919
4  51755  55319  55734  57014  56134  54283  53367  57020  57528

In [12]:
s.iloc[:,2].mean()

45339.8

In [13]:
s.iloc[:,2].prod()

2304332586102593708

In [14]:
s.iloc[:,2].sum()

226699

In [15]:
s.iloc[:,[2,5,7]].sum()

2005    226699
2008    251979
2010    238547
dtype: int64

In [16]:
s.iloc[:,2].min()

36658

In [17]:
s.iloc[:,2].max()

55891

In [21]:
s.loc[2,'State']

'Arizona'

In [22]:
s.iloc[2,1]

'Arizona'

In [23]:
s.loc[(s['2006']>50000) & (s['2006']<60000)]

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [38]:
s.loc[(s['2009']>50000) | (s['2010']<60000)]

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,20198,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [26]:
s['2006'][2]=20198

C:\Users\ANU VARMA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
s

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,20198,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [28]:
t=pa.read_csv("http://bit.ly/imdbratings")
t

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [29]:
t.shape

(979, 6)

In [30]:
t.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [31]:
t.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [32]:
t.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [33]:
t.sort_values(by="star_rating",axis=0,ascending=False)
t.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [36]:
t['genre']=='Comedy'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25      True
26     False
27     False
28     False
29      True
       ...
949     True
950    False
951    False
952     True
953    False
954    False
955    False
956     True
957     True
958    False
959     True
960     True
961    False
962     True
963    False
964    False
965    False
966    False
967    False
968    False
969    False
970    False
971     True
972    False
973    False
974     True
975    False
976    False
977    False
978    False
Name: genre, Length: 979, dtype: bool

In [34]:
t.loc[t['genre']=='Comedy']

,star_rating,title,content_rating,genre,duration,actors_list
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He..."
48,8.5,Dr. Strangelove or: How I Learned to Stop Worr...,PG,Comedy,95,"[u'Peter Sellers', u'George C. Scott', u'Sterl..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
66,8.4,Munna Bhai M.B.B.S.,NOT RATED,Comedy,156,"[u'Sunil Dutt', u'Sanjay Dutt', u'Arshad Warsi']"
70,8.4,Amelie,R,Comedy,122,"[u'Audrey Tautou', u'Mathieu Kassovitz', u'Ruf..."
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
94,8.4,Singin' in the Rain,APPROVED,Comedy,103,"[u'Gene Kelly', u""Donald O'Connor"", u'Debbie R..."
97,8.4,The Sting,PG,Comedy,129,"[u'Paul Newman', u'Robert Redford', u'Robert S..."
103,8.3,The Apartment,APPROVED,Comedy,125,"[u'Jack Lemmon', u'Shirley MacLaine', u'Fred M..."
106,8.3,Snatch.,R,Comedy,102,"[u'Jason Statham', u'Brad Pitt', u'Benicio Del..."
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
111,8.3,Some Like It Hot,NOT RATED,Comedy,120,"[u'Marilyn Monroe', u'Tony Curtis', u'Jack Lem..."
144,8.2,It Happened One Night,UNRATED,Comedy,105,"[u'Clark Gable', u'Claudette Colbert', u'Walte..."
151,8.2,"Lock, Stock and Two Smoking Barrels",R,Comedy,107,"[u'Jason Flemyng', u'Dexter Fletcher', u'Nick ..."
153,8.2,The Big Lebowski,R,Comedy,117,"[u'Jeff Bridges', u'John Goodman', u'Julianne ..."
155,8.2,Relatos salvajes,R,Comedy,122,"[u'Dar\xedo Grandinetti', u'Mar\xeda Marull', ..."
165,8.2,My Sassy Girl,NOT RATED,Comedy,123,"[u'Tae-hyun Cha', u'Gianna Jun', u'In-mun Kim']"
183,8.2,Underground,NOT RATED,Comedy,167,"[u'Predrag Manojlovic', u'Lazar Ristovski', u'..."
189,8.2,"Black Cat, White Cat",R,Comedy,127,"[u'Bajram Severdzan', u'Srdjan Todorovic', u'B..."
190,8.2,Life of Brian,R,Comedy,94,"[u'Graham Chapman', u'John Cleese', u'Michael ..."
208,8.1,Annie Hall,PG,Comedy,93,"[u'Woody Allen', u'Diane Keaton', u'Tony Rober..."
231,8.1,La Dolce Vita,NOT RATED,Comedy,174,"[u'Marcello Mastroianni', u'Anita Ekberg', u'A..."
246,8.1,Stalag 17,NOT RATED,Comedy,120,"[u'William Holden', u'Don Taylor', u'Otto Prem..."
252,8.1,Arsenic and Old Lace,NOT RATED,Comedy,118,"[u'Cary Grant', u'Priscilla Lane', u'Raymond M..."
254,8.1,Roman Holiday,NOT RATED,Comedy,118,"[u'Gregory Peck', u'Audrey Hepburn', u'Eddie A..."
255,8.1,The Philadelphia Story,NOT RATED,Comedy,112,"[u'Cary Grant', u'Katharine Hepburn', u'James ..."
...,...,...,...,...,...,...
821,7.6,Christmas Vacation,PG-13,Comedy,97,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Juliet..."
839,7.5,Bullets Over Broadway,R,Comedy,98,"[u'John Cusack', u'Dianne Wiest', u'Jennifer T..."
850,7.5,American Graffiti,PG,Comedy,110,"[u'Richard Dreyfuss', u'Ron Howard', u'Paul Le..."
857,7.5,Pleasantville,PG-13,Comedy,124,"[u'Tobey Maguire', u'Jeff Daniels', u'Joan All..."
867,7.5,Best in Show,PG-13,Comedy,90,"[u'Fred Willard', u'Eugene Levy', u""Catherine ..."
868,7.5,Everything Is Illuminated,PG-13,Comedy,106,"[u'Elijah Wood', u'Eugene Hutz', u'Boris Leskin']"
878,7.5,Buffalo '66,R,Comedy,110,"[u'Vincent Gallo', u'Christina Ricci', u'Ben G..."
880,7.5,My Cousin Vinny,R,Comedy,120,"[u'Joe Pesci', u'Marisa Tomei', u'Ralph Macchio']"
890,7.5,"The Adventures of Priscilla, Queen of the Desert",R,Comedy,104,"[u'Hugo Weaving', u'Guy Pearce', u'Terence Sta..."
899,7.5,In the Loop,NOT RATED,Comedy,106,"[u'Tom Hollander', u'Peter Capaldi', u'James G..."
912,7.5,Smoke,R,Comedy,112,"[u'Harvey Keitel', u'William Hurt', u'Giancarl..."
919,7.5,Ghost World,R,Comedy,111,"[u'Steve Buscemi', u'Thora Birch', u'Scarlett ..."
921,7.5,Trading Places,R,Comedy,116,"[u'Eddie Murphy', u'Dan Aykroyd', u'Ralph Bell..."
928,7.5,Clerks II,R,Comedy,97,"[u""Brian O'Halloran"", u'Jeff Anderson', u'Rosa..."
929,7.5,Say Anything...,PG-13,Comedy,100,"[u'John Cusack', u'Ione Skye', u'John Mahoney']"
933,7.4,Beetlejuice,PG,Comedy,92,"[u'Alec Baldwin', u'Geena Davis', u'Michael Ke..."
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"[u'Steve Carell', u'Ryan Gosling', u'Julianne ..."
940,7.4,Much Ado About Nothing,PG-13,Comedy,111,"[u'Kenneth Branagh', u'Emma Thompson', u'Keanu..."
942,7.4,Raising Arizona,PG-13,Comedy,94,"[u'Nicolas Cage', u'Holly Hunter', u'Trey Wils..."
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."

In [35]:
p=pa.read_table("http://bit.ly/chiporders")
p

C:\Users\ANU VARMA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75